@model ThinkPower.CCLPA.Web.ViewModels.AdjustProcessViewModel

@using ThinkPower.CCLPA.Web.Helper

@{
    ViewBag.Title = "AdjustProcess";
}

<div class="process-page">
    <!--隱藏表單-->
    <div class="d-none">
        @using (Html.BeginForm("Load", "PreAdjust", FormMethod.Get, new { id = "preAdjustLoad" }))
        {

        }
        @using (Html.BeginForm("GetApplicationData", "Adjust", FormMethod.Post, new { id = "adjustApplicationData" }))
        {

        }
    </div>

    <!--標題-->
    <div class="row">
        <div class="col col-auto">
            <h3>專案臨調處理</h3>
        </div>
    </div>

    <hr />
    <!--查詢-->
    <div class="row">
        <div class="col col-auto">
            <span>歸戶ID</span>
        </div>

        <div class="col col-auto">
            @Html.TextBoxFor(x => Model.CustomerId, new { @class = "form-control", maxlength = "11" })
        </div>

        <div class="col col-auto">
            <input type="button" name="query" id="query" value="查詢" class="btn btn-primary" />
        </div>
    </div>

    <hr />
    <!--顯示-->
    <div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>資料日期</span>
            </div>
            <div class="col col-2">

                <span>@Html.DisplayFor(x => x.DataDate)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>本月VIP星等</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.MonthStarLevel, ToolHelper.NumericFormat.Unit)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>身分證字號</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.AccountId)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>正卡有效卡</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.LiveCardCount)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>停卡狀態中是否有3-77</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.Status)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>中文姓名</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.ChineseName)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>生日</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model.BirthDay, ToolHelper.DateTimeFormat.Date)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>歸戶狀態</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.AboutDataStatus)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>卡戶等級</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.RiskLevel)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>風險評等</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.RiskRating)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最初發卡日</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model.IssueDate, ToolHelper.DateTimeFormat.Date)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>關帳日</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.ClosingDay)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>繳款期限</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.PayDeadline)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>職業／職級</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.Vocation)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>住家電話</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.TelHome)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>公司電話</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.TelOffice)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>行動電話</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.MobileTel)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>
                    帳單地址
                </span>
            </div>
            <div class="col col-10">
                <span>@Html.DisplayFor(x => x.BillAddr)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>近一年最高消費金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.NearlyYearMaxConsumptionAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>註記</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.SystemAdjustRevFlag)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>信用額度</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.CreditLimit, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>近期關帳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.ClosingAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最低應繳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.MinimumAmountPayable, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.ShowAfterAdjustAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款日期</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model.RecentPaymentDate, ToolHelper.DateTimeFormat.Date)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.RecentPaymentAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>優利餘額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.OfferAmount, ToolHelper.NumericFormat.Unit)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>總未付</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.UnpaidTotal, ToolHelper.NumericFormat.Unit)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>未入帳金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.AuthorizedAmountNotAccount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>CCAS掛帳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.CcasUnderpaidAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>可用餘額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.CcasUsabilityAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>掛帳比率</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model.CcasUnderpaidRate, ToolHelper.NumericFormat.DecimalPointTwoBit)</span>
            </div>
        </div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>  </th>
                        <th>1 </th>
                        <th>2 </th>
                        <th>3 </th>
                        <th>4 </th>
                        <th>5 </th>
                        <th>6 </th>
                        <th>7 </th>
                        <th>8 </th>
                        <th>9 </th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="adjust-table-field">繳款評等</td>
                        <td>@Model.Latest1Mnth</td>
                        <td>@Model.Latest2Mnth</td>
                        <td>@Model.Latest3Mnth</td>
                        <td>@Model.Latest4Mnth</td>
                        <td>@Model.Latest5Mnth</td>
                        <td>@Model.Latest6Mnth</td>
                        <td>@Model.Latest7Mnth</td>
                        <td>@Model.Latest8Mnth</td>
                        <td>@Model.Latest9Mnth</td>
                        <td>@Model.Latest10Mnth</td>
                        <td>@Model.Latest11Mnth</td>
                        <td>@Model.Latest12Mnth</td>
                    </tr>
                    <tr>
                        <td class="adjust-table-field">消費金額</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume1, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume2, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume3, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume4, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume5, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume6, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume7, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume8, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume9, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume10, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume11, ToolHelper.NumericFormat.Thousand)</td>
                        <td>@ToolHelper.FormatDecimal(Model.Consume12, ToolHelper.NumericFormat.Thousand)</td>
                    </tr>
                    <tr>
                        <td class="adjust-table-field">預借金額</td>
                        <td>@Model.PreCash1</td>
                        <td>@Model.PreCash2</td>
                        <td>@Model.PreCash3</td>
                        <td>@Model.PreCash4</td>
                        <td>@Model.PreCash5</td>
                        <td>@Model.PreCash6</td>
                        <td>@Model.PreCash7</td>
                        <td>@Model.PreCash8</td>
                        <td>@Model.PreCash9</td>
                        <td>@Model.PreCash10</td>
                        <td>@Model.PreCash11</td>
                        <td>@Model.PreCash12</td>
                    </tr>
                    <tr>
                        <td class="adjust-table-field">信貸 / AGI評等</td>
                        <td>@Model.CreditRating1</td>
                        <td>@Model.CreditRating2</td>
                        <td>@Model.CreditRating3</td>
                        <td>@Model.CreditRating4</td>
                        <td>@Model.CreditRating5</td>
                        <td>@Model.CreditRating6</td>
                        <td>@Model.CreditRating7</td>
                        <td>@Model.CreditRating8</td>
                        <td>@Model.CreditRating9</td>
                        <td>@Model.CreditRating10</td>
                        <td>@Model.CreditRating11</td>
                        <td>@Model.CreditRating12</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />
    <!--調整-->
    <div>

        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調高原因</span>
            </div>
            <div class="col col-2">
                @if (Model.AdjustReason != null)
                {
                    @Html.DropDownListFor(x => Model.AdjustReason, Model.AdjustReason, "請選擇", new { @class = "form-control" })
                }
            </div>
            <div class="col col-2 adjust-table-field">
                <span>調高原因備註</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.AdjustReasonRemark, new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>JCIC日期</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.JcicQueryDate, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調額上限</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.AdjustmentAmountCeiling, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>刷卡金額(不含額度)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.SwipeAmount, new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.AfterAdjustAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>有效日期(起)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.ValidDateStart, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>有效日期(迄)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.ValidDateEnd, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>是否可人工授權</span>
            </div>
            <div class="col col-2">
                @if (Model.ManualAuthorization != null)
                {
                    @Html.DropDownListFor(x => Model.ManualAuthorization, Model.ManualAuthorization, "請選擇", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>使用地點</span>
            </div>
            <div class="col col-2">
                @if (Model.UseLocation != null)
                {
                    @Html.DropDownListFor(x => Model.UseLocation, Model.UseLocation, "請選擇", new { @class = "form-control" })
                }
            </div>
            <div class="col col-2 adjust-table-field">
                <span>出國地點</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.PlaceOfGoingAbroad, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <hr />
    <!--操作-->
    <div>

        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>專案臨調結果</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.ProjectAdjustResult)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>拒絕原因(專案)</span>
            </div>
            <div class="col col-6">
                <span>@Html.DisplayFor(x => x.ProjectRejectReason)</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>一般臨調結果</span>
            </div>
            <div class="col col-2">
                <span>@Html.DisplayFor(x => x.GeneralAdjustResult)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>拒絕原因(一般)</span>
            </div>
            <div class="col col-6">
                <span>@Html.DisplayFor(x => x.GeneralRejectReason)</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col col-2 adjust-table-field">
                <span>轉授信主管原因</span>
            </div>
            <div class="col col-4">
                @Html.TextBoxFor(x => Model.TransferSupervisorReason, new { @class = "form-control" })
            </div>
            <div class="col col-2">
                <input type="button" name="forwarding" id="forwarding" value="轉授信主管" class="btn btn-primary" />
            </div>

            <div class="col offset-1">
                <input type="button" name="Approved" id="Approved" value="核准" class="btn btn-success" />
                <input type="button" name="Refuse" id="Refuse" value="拒絕" class="btn btn-danger" />
                <input type="button" name="Cancel" id="Cancel" value="取消" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <hr />
    <!--資訊-->
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td class="adjust-table-field">
                        <span>最近一次臨調資訊</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>原因：</span>
                    </td>
                    <td>
                        <span>@Html.DisplayFor(x => x.LatestAdjustReason)</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>區域：</span>
                    </td>
                    <td>
                        <span>@Html.DisplayFor(x => x.LatestAdjustArea)</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>起日：</span>
                    </td>
                    <td>
                        <span>@ToolHelper.FormatString(Model.LatestAdjustStartDate, ToolHelper.Format.Date)</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>迄日：</span>
                    </td>
                    <td>
                        <span>@ToolHelper.FormatString(Model.LatestAdjustEndDate, ToolHelper.Format.Date)</span>
                    </td>
                    <td class="adjust-table-field">
                        <span>生效金額：</span>
                    </td>
                    <td>
                        <span>@ToolHelper.FormatDecimal(Model.LatestAdjustEffectAmount, ToolHelper.NumericFormat.Thousand)</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>臨調日期</th>
                        <th>臨調時間</th>
                        <th>調高原因</th>
                        <th>使用地點</th>
                        <th>出國地點</th>
                        <th>臨調起日</th>
                        <th>臨調迄日</th>
                        <th>生效金額</th>
                        <th>申請狀態</th>
                        <th>處理日期時間</th>
                        <th>拒絕原因</th>
                        <th>CCAS回覆碼</th>
                        <th>CCAS回覆時間</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LatestAdjustInfo != null)
                    {
                        foreach (var item in Model.LatestAdjustInfo)
                        {
                            <tr>
                                <td><span>@item.ApplyDate</span></td>
                                <td><span>@item.ApplyTime</span></td>
                                <td><span>@item.Reason</span></td>
                                <td><span>@item.UseSite</span></td>
                                <td><span>@item.Place</span></td>
                                <td><span>@item.AdjustDateStart</span></td>
                                <td><span>@item.AdjustDateEnd</span></td>
                                <td><span>@ToolHelper.FormatDecimal(item.ApproveAmount, ToolHelper.NumericFormat.Thousand)</span></td>
                                <td><span>@item.ApproveResult</span></td>
                                <td><span>@($"{item.ProcessDate} {item.ProcessTime}")</span></td>
                                <td><span>@item.RejectReason</span></td>
                                <td><span>@($"{item.CcasCode},{item.CcasStatus}")</span></td>
                                <td><span>@item.CcasDateTime</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/AdjustProcess.js"></script>
}