@model ThinkPower.CCLPA.Web.ViewModels.AdjustProcessViewModel

@using ThinkPower.CCLPA.Web.Helper

@{
    ViewBag.Title = "AdjustProcess";
}

<div class="process-page">
    <!--隱藏-->
    <div class="d-none">
        <!--表單-->
        <div>
            @using (Html.BeginForm("Load", "PreAdjust", FormMethod.Get, new { id = "preAdjustLoad" }))
            {

            }
            @using (Html.BeginForm("GetApplicationData", "Adjust", FormMethod.Post, new { id = "adjustApplicationData" }))
            {

            }
        </div>

        <!--資料-->
        <div>
            @{
                var reasonEffectInfoList = Model?.ReasonEffectInfoList;

                if (reasonEffectInfoList != null)
                {
                    foreach (var item in reasonEffectInfoList)
                    {
                        <div class="reason-effect-info"
                             data-reason="@item.Reason"
                             data-approve-amount-max="@item.ApproveAmountMax"
                             data-approve-scale-max="@item.ApproveScaleMax"></div>
                    }
                }
            }
        </div>
    </div>

    <!--標題-->
    <div class="row">
        <div class="col col-auto">
            <h3>專案臨調處理</h3>
        </div>
    </div>

    <hr />
    <!--查詢-->
    <div class="row">
        <div class="col col-auto">
            <span>歸戶ID</span>
        </div>

        <div class="col col-auto">
            @Html.TextBoxFor(x => Model.CustomerId, new { @class = "form-control", maxlength = "11" })
        </div>

        <div class="col col-auto">
            <input type="button" name="query" id="query" value="查詢" class="btn btn-primary" />
        </div>
    </div>

    <hr />
    <!--顯示-->
    <div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>資料日期</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.DataDate)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>本月VIP星等</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Vip?.MonthStarLevel, ToolHelper.NumericFormat.Unit)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>身分證字號</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.AccountId)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>正卡有效卡</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.LiveCardCount)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>停卡狀態中是否有3-77</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.Status)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>中文姓名</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.ChineseName)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>生日</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model?.Customer?.BirthDay, ToolHelper.DateTimeFormat.Date)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>歸戶狀態</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.AboutDataStatus)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>卡戶等級</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.RiskLevel)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>風險評等</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.RiskRating)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最初發卡日</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model?.Customer?.IssueDate, ToolHelper.DateTimeFormat.Date)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>關帳日</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.ClosingDay)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>繳款期限</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.PayDeadline)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>職業／職級</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.Vocation)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>住家電話</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.TelHome)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>公司電話</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.TelOffice)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>行動電話</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.MobileTel)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>
                    帳單地址
                </span>
            </div>
            <div class="col col-10">
                <span>@(Model?.Customer?.BillAddr)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>近一年最高消費金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.NearlyYearRating?.ConsumeList?.Max(x => x.Amount), ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>註記</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.Customer?.SystemAdjustRevFlag)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>信用額度</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.CreditLimit, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>近期關帳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.ClosingAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最低應繳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.MinimumAmountPayable, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                <span>
                    @ToolHelper.FormatDecimal((
                    (Model?.Customer?.CcasUnderpaidAmount ?? 0) +
                    (Model?.Customer?.CcasUsabilityAmount ?? 0)), ToolHelper.NumericFormat.Thousand)
                </span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款日期</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDateTime(Model?.Customer?.RecentPaymentDate, ToolHelper.DateTimeFormat.Date)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>最近付款金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.RecentPaymentAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>優利餘額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.OfferAmount, ToolHelper.NumericFormat.Unit)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>總未付</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.UnpaidTotal, ToolHelper.NumericFormat.Unit)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>未入帳金額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.AuthorizedAmountNotAccount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>CCAS掛帳</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.CcasUnderpaidAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>可用餘額</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.CcasUsabilityAmount, ToolHelper.NumericFormat.Thousand)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>掛帳比率</span>
            </div>
            <div class="col col-2">
                <span>@ToolHelper.FormatDecimal(Model?.Customer?.CcasUnderpaidRate, ToolHelper.NumericFormat.DecimalPointTwoBit)</span>
            </div>
        </div>
    </div>

    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>1 </th>
                        <th>2 </th>
                        <th>3 </th>
                        <th>4 </th>
                        <th>5 </th>
                        <th>6 </th>
                        <th>7 </th>
                        <th>8 </th>
                        <th>9 </th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="adjust-table-field"><span>繳款評等</span></td>
                        @{
                            var latestMnthList = Model?.NearlyYearRating?.LatestMnthList?.OrderBy(x => x.Month);

                            for (int i = 1; i <= 12; i++)
                            {
                                if (latestMnthList == null)
                                {
                                    <td><span></span></td>
                                }
                                else
                                {
                                    <td><span>@(latestMnthList.Where(x => x.Month == i).FirstOrDefault()?.Rating)</span></td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td class="adjust-table-field"><span>消費金額</span></td>
                        @{
                            var consumeList = Model?.NearlyYearRating?.ConsumeList?.OrderBy(x => x.Month);

                            for (int i = 1; i <= 12; i++)
                            {
                                if (consumeList == null)
                                {
                                    <td><span></span></td>
                                }
                                else
                                {
                                    <td><span>@ToolHelper.FormatDecimal(consumeList.Where(x => x.Month == i).FirstOrDefault()?.Amount, ToolHelper.NumericFormat.Thousand)</span></td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td class="adjust-table-field"><span>預借金額</span></td>
                        @{
                            var preCashList = Model?.NearlyYearRating?.PreCashList?.OrderBy(x => x.Month);

                            for (int i = 1; i <= 12; i++)
                            {
                                if (preCashList == null)
                                {
                                    <td><span></span></td>
                                }
                                else
                                {
                                    <td><span>@ToolHelper.FormatDecimal(preCashList.Where(x => x.Month == i).FirstOrDefault()?.Amount, ToolHelper.NumericFormat.Thousand)</span></td>
                                }
                            }
                        }
                    </tr>
                    <tr>
                        <td class="adjust-table-field"><span>信貸 / AGI評等</span></td>
                        @{
                            var creditRatingList = Model?.NearlyYearRating?.CreditRatingList?.OrderBy(x => x.Month);

                            for (int i = 1; i <= 12; i++)
                            {
                                if (creditRatingList == null)
                                {
                                    <td><span></span></td>
                                }
                                else
                                {
                                    <td><span>@(creditRatingList.Where(x => x.Month == i).FirstOrDefault()?.Rating)</span></td>
                                }
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr />
    <!--調整-->
    <div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調高原因</span>
            </div>
            <div class="col col-2">
                @Html.DropDownListFor(x => Model.AdjustReasonSelectListItem,
                Model.AdjustReasonSelectListItem,"請選擇", new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>調高原因備註</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.AdjustReasonRemark, new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>JCIC日期</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.JcicQueryDate, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>調額上限</span>
            </div>
            <div class="col col-2">
                @*@Html.TextBoxFor(x => Model.AdjustmentAmountCeiling, new { @class = "form-control", disabled = "disabled" })*@
            </div>
            <div class="col col-2 adjust-table-field">
                <span>刷卡金額(不含額度)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.SwipeAmount, new { @class = "form-control", disabled = "disabled" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>臨調後額度</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.AfterAdjustAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>有效日期(起)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.ValidDateStart, new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>有效日期(迄)</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.ValidDateEnd, new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>是否可人工授權</span>
            </div>
            <div class="col col-2">
                @Html.DropDownListFor(x => Model.ManualAuthorizationSelectListItem,
                Model.ManualAuthorizationSelectListItem,"請選擇", new { @class = "form-control" })
            </div>
        </div>
        <div class="row border-top">
            <div class="col col-2 adjust-table-field">
                <span>使用地點</span>
            </div>
            <div class="col col-2">
                @Html.DropDownListFor(x => Model.UseLocationSelectListItem,
                Model.UseLocationSelectListItem, "請選擇", new { @class = "form-control" })
            </div>
            <div class="col col-2 adjust-table-field">
                <span>出國地點</span>
            </div>
            <div class="col col-2">
                @Html.TextBoxFor(x => Model.PlaceOfGoingAbroad, new { @class = "form-control", disabled = "disabled" })
            </div>
        </div>
    </div>

    <hr />
    <!--操作-->
    <div>

        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>專案臨調結果</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.ProjectAdjustResult)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>拒絕原因(專案)</span>
            </div>
            <div class="col col-6">
                <span>@(Model?.ProjectRejectReason)</span>
            </div>
        </div>
        <div class="row">
            <div class="col col-2 adjust-table-field">
                <span>一般臨調結果</span>
            </div>
            <div class="col col-2">
                <span>@(Model?.GeneralAdjustResult)</span>
            </div>
            <div class="col col-2 adjust-table-field">
                <span>拒絕原因(一般)</span>
            </div>
            <div class="col col-6">
                <span>@(Model?.GeneralRejectReason)</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col col-2 adjust-table-field">
                <span>轉授信主管原因</span>
            </div>
            <div class="col col-4">
                @Html.TextBoxFor(x => Model.TransferSupervisorReason, new { @class = "form-control" })
            </div>
            <div class="col col-2">
                <input type="button" name="forwarding" id="forwarding" value="轉授信主管" class="btn btn-primary" disabled />
            </div>

            <div class="col offset-1">
                <input type="button" name="Approved" id="Approved" value="核准" class="btn btn-success" disabled />
                <input type="button" name="Refuse" id="Refuse" value="拒絕" class="btn btn-danger" disabled />
                <input type="button" name="Cancel" id="Cancel" value="取消" class="btn btn-primary" disabled />
            </div>
        </div>
    </div>

    <hr />
    <!--資訊-->
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <td class="adjust-table-field"><span>最近一次臨調資訊</span></td>
                    <td class="adjust-table-field"><span>原因：</span></td>
                    <td><span>@(Model?.AdjustLog?.AdjustReason)</span></td>
                    <td class="adjust-table-field"><span>區域：</span></td>
                    <td><span>@(Model?.AdjustLog?.AdjustArea)</span></td>
                    <td class="adjust-table-field"><span>起日：</span></td>
                    <td><span>@ToolHelper.FormatString(Model?.AdjustLog?.AdjustStartDate, ToolHelper.Format.Date)</span></td>
                    <td class="adjust-table-field"><span>迄日：</span></td>
                    <td><span>@ToolHelper.FormatString(Model?.AdjustLog?.AdjustEndDate, ToolHelper.Format.Date)</span></td>
                    <td class="adjust-table-field"><span>生效金額：</span></td>
                    <td><span>@ToolHelper.FormatDecimal(Model?.AdjustLog?.AdjustEffectAmount, ToolHelper.NumericFormat.Thousand)</span></td>
                </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>臨調日期</th>
                        <th>臨調時間</th>
                        <th>調高原因</th>
                        <th>使用地點</th>
                        <th>出國地點</th>
                        <th>臨調起日</th>
                        <th>臨調迄日</th>
                        <th>生效金額</th>
                        <th>申請狀態</th>
                        <th>處理日期時間</th>
                        <th>拒絕原因</th>
                        <th>CCAS回覆碼</th>
                        <th>CCAS回覆時間</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.AdjustLog?.AdjustLogList != null)
                    {
                        foreach (var item in Model.AdjustLog.AdjustLogList)
                        {
                            <tr>
                                <td><span>@item.ApplyDate</span></td>
                                <td><span>@item.ApplyTime</span></td>
                                <td><span>@item.Reason</span></td>
                                <td><span>@item.UseSite</span></td>
                                <td><span>@item.Place</span></td>
                                <td><span>@item.AdjustDateStart</span></td>
                                <td><span>@item.AdjustDateEnd</span></td>
                                <td>
                                    <span>
                                        @if (!String.IsNullOrEmpty(item.ApproveResult) &&
                                            (item.ApproveResult != "臨調額度PENDING處理") &&
                                            (item.ApproveResult != "轉授信主管Pending"))
                                        {
                                            ToolHelper.FormatDecimal(item.ApproveAmount, ToolHelper.NumericFormat.Thousand);
                                        }
                                    </span>
                                </td>
                                <td><span>@item.ApproveResult</span></td>
                                <td><span>@($"{item.ProcessDate} {item.ProcessTime}")</span></td>
                                <td><span>@item.RejectReason</span></td>
                                <td><span>@($"{item.CcasCode},{item.CcasStatus}")</span></td>
                                <td><span>@item.CcasDateTime</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





@section scripts{
    <script src="~/Scripts/AdjustProcess.js"></script>
}