<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">

        <div class="row layout-header">
            <div class="col col-auto layout-header-logo">
                <img src="~/Image/600px-Feib.svg.png" alt="Logo" />
            </div>

            <div class="col layout-header-title">
                <h1>Credit Risk Management System</h1>
            </div>
        </div>

        <div class="row layout-body">

            <div class="col col-auto layout-body-left">
                <div class="row layout-body-left-item">
                    @Html.ActionLink("專案臨調預審名單匯入", "PreAdjustImportPage", "Adjust")
                </div>
                <div class="row layout-body-left-item">
                    @Html.ActionLink("專案臨調預審名單處理", "PreAdjustProcessPage", "Adjust")
                </div>
                <div class="row layout-body-left-item">
                    @Html.ActionLink("專案臨調處理", "Action", "Controller")
                </div>
            </div>

            <div class="col layout-body-right">
                @RenderBody()
            </div>
        </div>

        <div class="row layout-footer">
            <div class="col">
                <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainjs")
    @RenderSection("scripts", required: false)
</body>
</html>
